body{
    margin: 0;
    background-color: #333;

}
.customeEdits{
    background-color:  #6fc391;
    border:solid white!important;
    border-radius: 20px;
    min-width: 40ch;
    min-height: 40ch;
}
header {
    color: #333;
    border: solid white;
    background-color: #6fc391;
}
.underline{
    text-align: center;
    text-decoration: underline;
    
}
header p{
    text-align: center;
    max-width: fit-content;
    padding-right: 20ch;
    padding-left: 20ch;
}
.otherEdits{
    justify-content: center;
}
#starterSection{
    margin-top: 200px;
}
.flexWidth{
    flex-basis: 100%;
}
.btnHover:hover{
    filter: drop-shadow(5px 5px 5px black);
    text-decoration: underline;
}
.hide{
    display: none!important;
}
main{
    flex-wrap: wrap;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../images/Felt-Background.jpg)!important;
    height: 100vh;
}

.firsth1{
    text-align: left;
}
.secondh1{
    text-align: right;
    align-self: right;
}
.flexWidth2{
    flex-basis: 33%!important;
    text-decoration: underline;
}
.flexWidth3{
    flex-basis: 33%!important;
    text-decoration: underline;
}
.flexWidth4{
    flex-basis: 33%!important;
}
span{
    text-decoration: none;
}
.gameBtns{
    max-width: 20ch;
}
.test{
    text-align: center;
}
.bordertest{
    border: solid white!important;
}
.inputWidth{
    max-height: 30px;
    max-width: 23ch;
}
.fixImages{
    width: 150px;
    height: 200px;
}
.diff{
    background-color: #333;
}

#endBtn{
    margin-left: 385px;
}


